:root {
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --accent: #e50914;
    --text-light: #b3b3b3;
    --text-white: #ffffff;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark-bg);
    color: var(--text-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
    flex: 1;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-bottom: 1px solid #333;
}

.nav-link {
    color: var(--text-white) !important;
    margin-left: 15px;
}

.nav-link:hover {
    color: var(--accent) !important;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

    .logo span {
        color: var(--accent);
    }

footer {
    background-color: #000;
    padding: 40px 0 20px;
    border-top: 1px solid #333;
    margin-top: auto; 
}


/*index*/
.list-group-item {
    border: 1px solid #444;
    margin-bottom: 5px;
}

.list-group-item:hover {
    background-color: #333 !important;
}